body {
    background-color: rgb(200, 200, 200);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    gap: 26px;
    border: 3px dotted red;
}

/* Menu Inputs/Buttons */
form{
    width: 172px;
    position: fixed;
    top: 85px;
    left: -144px;
    transition-property: left;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    gap: 24px;

    border: 2px solid green;

}
form:hover{
    left: 0px;
}

h2{
    font-size: 16px;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 16px;

    display: flex;
    justify-content: end;
    align-items: center;
    border: 2px solid pink;
}

.grid,.color,.shade{
    width: 136px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 8px;

    border: 2px solid red;

}
#size{
    font-size: 16px;
    width: 56px;
}

/* Grid Area */
.grid-container {
    /* z-index: 10; */
    width: 480px;
    height: 480px;
    background-color: darkgrey;
    padding: 12px;
    border-top: 10px ridge rgb(182, 0, 0);
    border-right: 10px solid rgb(182, 0, 0);
    border-bottom: 10px solid rgb(182, 0, 0);
    border-left: 10px ridge rgb(182, 0, 0);
    border-radius: 48px;

    display: block;

}
.cell{
    filter: brightness(100%);
}


/* Frame, sreen and dials */
h1 {
    position: absolute;
    top: 1%;
    margin: 0px;
    text-align: center;

    font-family: "Ephesis", cursive;
    letter-spacing: 4px;
    font-size: 40px;
    color: goldenrod;
    text-shadow: 2px 2px 2px rgb(58, 44, 9);
}
.frame-outer{
    position: relative;

    width: 480px;
    height: 480px;
    padding: 100px 80px 120px 80px;
    margin: auto;

    background-color: rgb(182, 0, 0);

    border-top: 15px solid rgb(182, 0, 0);
    border-right: 15px ridge rgb(182, 0, 0);
    border-bottom: 15px ridge rgb(182, 0, 0);
    border-left: 15px solid rgb(182, 0, 0);    
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    /* z-index: 1; */
    width: 480px;
    height: 480px;
    background-color: darkgrey;
    border: 3px transparent rgb(182, 0, 0);
    border-radius: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.frame-inner{
    /* z-index: 0; */
    width: 480px;
    height: 480px;

    display: flex;
    justify-content: center;
    align-items: center;    

}
.left-dial, .right-dial{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 1%;
    background-color: lightgray;
    border-radius: 50%;
    border-bottom: 3px gray;
    border-right: 3px gray;
    box-shadow: 10px 10px 10px rgb(51, 0, 0);
}
.left-dial{
    left: 1%;
}
.right-dial{
    right: 1%;
}